#kaocha/v1
 {:tests [{:id :clj/unit
           :source-paths ["src/backend" "src/common"]
           :test-paths ["test/backend" "test/common"]}

          {:id :cljs/unit
           :type :kaocha.type/cljs
           :source-paths ["src/frontend" "src/common"]
           :test-paths ["test/frontend" "test/common"]
           :cljs/timeout 20000
           :cljs/repl-env
           cljs.repl.node/repl-env ;; use node
          ; cljs.repl.browser/repl-env ;; not working, throwing in transit??
           :cljs/compiler-options
           {}}]
  :plugins [; :kaocha.plugin/cloverage
            :kaocha.plugin/notifier]}
